
.App {
    display: grid;
    grid-template-areas: "sidebar header" "sidebar main";
    grid-template-columns: 1fr 2.3fr;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
  }
  
  .App__nav {
    background-color: #A3C3D9;
    color: #fff;
    grid-area: sidebar;
    height: 100vh;
    overflow: auto;
  }
  
  .App__header {
    background-color: #CCD6EB;
    color: #993955;
    font-family: var(--custom-font);
    grid-area: header;
    padding-left: 16px;
    padding-top: 32px;
  }
  
  .App__header a {
    color: #993955;
  }
  
  .App__main {
    background-color: #E9ECF541;
    grid-area: main;
    height: calc(100vh - 120px);
    overflow: auto;
  }